/*
  Comment!~
*/

table {border: 1px solid purple;}
table tr th { 
    background-color: #7D09FF;
    color: white;
    }
table tr td {font-wieght: bold;}
table tr#head1 {
  background-color: yellow;
  color:black;
}


#maincontent{ width: 800 px;}
